/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2015, 14:25:13
    Author     : david
*/

#main.affecter{height: 677px;}

#main.affecter img{width: 32px; float: left;}
#main.affecter h1{float: left}


#main.affecter fieldset{width: 361px; margin: auto; padding: 10px;}

#main.affecter fieldset.global{margin-top: 60px;}

#main.affecter fieldset.members{}

#main.affecter fieldset.others{}

#main.affecter table{border-spacing: 0; border-collapse: collapse; margin: auto;}

#main.affecter th{width:32px;}
