/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2015, 14:25:13
    Author     : david
*/

#main.affecter{height: 677px;}

#main.affecter img{width: 32px; float: left; margin-right: 10px;}
#main.affecter h1{display: block; margin: 0; margin-bottom: 10px;}

#main.affecter fieldset{margin: auto; padding: 10px;}

#main.affecter fieldset.global{margin-top: 60px; width: 695px;}

#main.affecter select{width: 300px;}

#main.affecter fieldset.members{}

#main.affecter fieldset.others{}

#main.affecter table{border-spacing: 0; border-collapse: collapse; margin: auto;}

#main.affecter tbody th li.icon32{margin: 5px;}
#main.affecter tbody td{padding: 0; vertical-align: top;}

#main.affecter tfoot th{text-align: right; padding-top: 10px;}
