/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 oct. 2015, 14:25:13
    Author     : david
*/

#main.droit{height: 677px;}

#main.droit fieldset{width: 361px; margin: auto; padding: 10px;}

#main.droit fieldset.list{margin-top: 60px;}

#main.droit fieldset.list div{max-height: 241px; overflow-x: auto;}
#main.droit table{border-spacing: 0; border-collapse: collapse;}

#main.droit fieldset.list tbody tr{border-top: 1px solid black; border-bottom: 1px solid black;}
#main.droit fieldset.list tbody tr:nth-child(odd){background: whitesmoke;}
#main.droit fieldset.list tbody tr:nth-child(even){background: lightgray;}

#main.droit fieldset.list tbody tr:hover{background: lightblue;}
#main.droit fieldset.list tbody tr:hover ul.menu li.icon{border: 1px solid lightblue;}

#main.droit fieldset.list tbody td:nth-child(2){width:273px;}

#main.droit fieldset.list td a{display: block;text-decoration: none; color: inherit;}

#main.droit fieldset.list td img{width: 16px; height: 16px; margin-left:10px; margin-right: 10px;}

#main.droit fieldset.list tr:nth-child(odd) ul.menu li.icon{border: 1px solid whitesmoke;}
#main.droit fieldset.list tr:nth-child(even) ul.menu li.icon{border: 1px solid lightgray;}

#main.droit fieldset.list tr:nth-child(odd) ul.menu li.icon:hover,
#main.droit fieldset.list tr:nth-child(even) ul.menu li.icon:hover
{
    background: lightgray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#main.droit fieldset.list ul.menu li.icon:active{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

#main.droit fieldset.insert th{text-align: left; vertical-align: top; line-height: 20px;}
#main.droit fieldset.insert th.submit{text-align: right;}

#main.droit fieldset.update{margin-top: 60px;}
#main.droit fieldset.update th{text-align: left; vertical-align: top; line-height: 20px;}
#main.droit fieldset.update th.submit{text-align: right;}
#main.droit fieldset.update img{width: 100px; border: 1px solid #AAA;}

#main.droit fieldset.delete{margin-top: 60px;}
#main.droit fieldset.delete th{text-align: left; vertical-align: top; line-height: 20px;}
#main.droit fieldset.delete th.submit{text-align: right;}
#main.droit fieldset.delete img{width: 100px; border: 1px solid #AAA;}
#main.droit fieldset.delete input[name="btn_delete"]{color: red; border: 1px solid #DD5555;}
#main.droit fieldset.delete input[name="btn_delete"]:hover{border: 1px solid red; background: #FF9999; color: darkred;}


#main.droit span.required{color: red;}
#main.droit span.warning{color: orange;}