#main.profil{
    width: 1048px;
    height: 736px;
    border: 1px solid black;
}

#main.profil div.avatar{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 25px;
}

#main.profil div.pseudo{
    float: left;
    margin-top: 100px;
    margin-left: 30px;
    font-size: 32pt;
    font-weight: bold;
}

#main.profil table{
    clear: left;
    margin-top: 30px;
    margin-left: 230px;
}

#main.profil th{text-align: left;}