#main.inscription{height: 677px;}

#main.inscription fieldset{width: 408px; margin: auto; margin-top: 60px;}
#main.inscription th {vertical-align: top; line-height: 25px; text-align: left;}
#main.inscription th.submit {text-align: right;}
#main.inscription span.required{color:red;}
